<!DOCTYPE html>
<html>
<head>
	<title>Демо список дел</title>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/todos.css">
</head>
<body>

<div id="listDiv">
	<ul>
		<li>Проверить почту</li>
		<li>Направить отчет</li>
		<li>Подготовить иск</li>
	</ul>
</div>

<footer>
	<div>
		&copy; 2018 Copyright: ERKhusainov
	</div>
</footer>

<script type="text/javascript" src="../assets/js/todos.js"></script>

</body>
</html>